<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer>
    <h3>Join Us</h3>
    <ul>
<a href="https://facebook.com/chouflihal" target="_blank" class="fa fa-facebook"></a>
<a href="https://instagram.com/chouflihal" target="_blank" class="fa fa-instagram"></a>
<a href="https://twitter.com/chouflihal" target="_blank" class="fa fa-twitter"></a>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
    </ul>
    <mat-divider></mat-divider>
    <div class="copyRight">
        <p> <strong> Choufli hal &copy;</strong>   copyright 2023 Home Life. Tous droits réservés</p>
    </div>

</footer>
